div {
    margin: 5px
}

.container > .left {

}
.container > .right{

}
.left > #third{

}
.left > #forth{

}
.right > #fifth{

}
.right > #sixth{
    
}
#third > p{

}
#third > span{

}
#fourth > ul{

}
#fourth > span{

}
#fifth > p{
    font-size: 1.5em;
}
#sixth > img{
    width: 300px;
    height: 300px;
}
ul > li{
    
}

h1{
    color : blue;
}