.container > .left {

}
.container > .right{

}
.left > #third{

}
.left > #forth{

}
.right > #fifth{

}
.right > #sixth{
    
}
#third > p{

}
#third > span{
    visibility: hidden;
}
#fourth > ul{

}
#fourth > span{

}
#fifth > p{
    display: none;

}
#sixth > img{
    width: 300;
    height: 300;
}
ul > li{
    
}
div{
    margin : 5;
}
h1{
    color : blue;
}